extends layout

block content
  h1= title
  p Welcome to #{title}. This is a small application for real-time communication.
  p Create a new user or choose a existing one to start chatting.
  p &nbsp;
  
  p
    a(href="/newuser") Add new user
  p
    a(href="/userlist") See existing users
