extends layout

block content
  h1= title
  form#formAddUser(name="adduser", method="post",action="/adduser")
    input#inputUserName(type="text", placeholder="Your username", name="username")
    &nbsp;
    input#inputUserEmail(type="text", placeholder="Your email", name="useremail")
    p
    button#btnSubmit(type="submit") Add user
  p
    a(href="/") Index